# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython Notebook
**/.ipynb_checkpoints/

# unzipped data for experiments
data/*/

# .exe files
**/*.exe

# .txt files
knapgen/*.inst.dat

# data for the 5-th homework
**/uf50-218/*